In [3]:
import pandas as pd
import yfinance as yf
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import scale
from sklearn import metrics

In [4]:
start = '2017-01-01'
end = '2021-10-01'

In [5]:
data = yf.download('CL=F PTTEP.BK GPSC.BK PTTGC.BK PTT.BK', start= start, end= end)

[*********************100%***********************]  5 of 5 completed

In [6]:
data

            Adj Close                                                   Close  \
                 CL=F    GPSC.BK     PTT.BK    PTTEP.BK   PTTGC.BK       CL=F
Date
2017-01-03  52.330002        NaN        NaN         NaN        NaN  52.330002
2017-01-04  53.259998  29.626320  30.816393   78.292854  51.349224  53.259998
2017-01-05  53.759998  29.025787  31.384066   77.895416  51.549812  53.759998
2017-01-06  53.990002  29.025787  31.546261   78.292854  51.349224  53.990002
2017-01-09  51.959999  29.025787  31.059681   77.696724  50.747482  51.959999
...               ...        ...        ...         ...        ...        ...
2021-09-24  73.980003        NaN        NaN         NaN        NaN  73.980003
2021-09-27  75.449997  77.000000  39.299999  117.000000  61.750000  75.449997
2021-09-28  75.290001  76.250000  39.299999  119.000000  63.750000  75.290001
2021-09-29  74.830002  76.250000  39.250000  119.000000  63.250000  74.830002
2021-09-30  75.029999  75.500000  39.000000  117.500000  63.250000  75.029999

                                                    ...       Open             \
              GPSC.BK     PTT.BK PTTEP.BK PTTGC.BK  ...       CL=F    GPSC.BK
Date                                                ...
2017-01-03        NaN        NaN      NaN      NaN  ...  54.200001        NaN
2017-01-04  32.962139  38.000000    98.50    64.00  ...  52.490002  33.184856
2017-01-05  32.293987  38.700001    98.00    64.25  ...  53.389999  33.184856
2017-01-06  32.293987  38.900002    98.50    64.00  ...  53.730000  32.516705
2017-01-09  32.293987  38.299999    97.75    63.25  ...  53.750000  32.516705
...               ...        ...      ...      ...  ...        ...        ...
2021-09-24        NaN        NaN      NaN      NaN  ...  73.239998        NaN
2021-09-27  77.000000  40.500000   117.00    61.75  ...  74.190002  77.500000
2021-09-28  76.250000  40.500000   119.00    63.75  ...  75.430000  77.000000
2021-09-29  76.250000  39.250000   119.00    63.25  ...  74.379997  75.500000
2021-09-30  75.500000  39.000000   117.50    63.25  ...  74.779999  76.250000

                                           Volume                           \
               PTT.BK PTTEP.BK PTTGC.BK      CL=F     GPSC.BK       PTT.BK
Date
2017-01-03        NaN      NaN      NaN  727793.0         NaN          NaN
2017-01-04  37.400002    96.25    63.25  512641.0   9234695.0   75879000.0
2017-01-05  38.200001    98.50    64.25  517362.0   4532206.0   75282000.0
2017-01-06  38.700001    98.00    64.50  528333.0   2796035.0   45129000.0
2017-01-09  38.900002    98.50    64.00  564893.0   2037337.0   40455000.0
...               ...      ...      ...       ...         ...          ...
2021-09-24        NaN      NaN      NaN  350382.0         NaN          NaN
2021-09-27  40.250000   115.00    60.50  417829.0   7722100.0  114666600.0
2021-09-28  40.750000   118.50    62.50  476143.0   7964000.0  104953600.0
2021-09-29  39.250000   117.00    63.25  424193.0   9205600.0   90070800.0
2021-09-30  39.000000   119.00    63.25  583189.0  10934900.0   63650300.0


              PTTEP.BK    PTTGC.BK
Date
2017-01-03         NaN         NaN
2017-01-04  17352200.0  14341900.0
2017-01-05  18246200.0  12762900.0
2017-01-06  11993700.0   8106700.0
2017-01-09   4042300.0  10983300.0
...                ...         ...
2021-09-24         NaN         NaN
2021-09-27  25185600.0  38175400.0
2021-09-28  34817500.0  66383100.0
2021-09-29  13055700.0  22502100.0
2021-09-30  11996900.0  16324500.0

[1231 rows x 30 columns]

In [8]:
df = data['Adj Close']

In [27]:
df = df.fillna(method='ffill')
df = df.dropna()
df = df[['CL=F', 'GPSC.BK', 'PTTEP.BK', 'PTTGC.BK', 'PTT.BK']]

In [28]:
X = df.iloc[:,:-1]
y = df.iloc[:, -1]

In [29]:
X

                CL=F   GPSC.BK  PTTEP.BK  PTTGC.BK
Date
2017-01-05  0.009388 -0.020270 -0.005076  0.003906
2017-01-06  0.004278  0.000000  0.005102 -0.003891
2017-01-09 -0.037600  0.000000 -0.007614 -0.011719
2017-01-10 -0.021940  0.006896 -0.017903  0.003953
2017-01-11  0.028139  0.006849  0.005208 -0.003937
...              ...       ...       ...       ...
2021-09-24  0.009277  0.000000  0.000000  0.000000
2021-09-27  0.019870 -0.012821  0.035398  0.020661
2021-09-28 -0.002121 -0.009740  0.017094  0.032389
2021-09-29 -0.006110  0.000000  0.000000 -0.007843
2021-09-30  0.002673 -0.009836 -0.012605  0.000000

[1229 rows x 4 columns]

In [30]:
y

Date
2017-01-05    0.018421
2017-01-06    0.005168
2017-01-09   -0.015424
2017-01-10    0.013055
2017-01-11   -0.007732
                ...
2021-09-24    0.000000
2021-09-27    0.012500
2021-09-28    0.000000
2021-09-29   -0.001272
2021-09-30   -0.006369
Name: PTT.BK, Length: 1229, dtype: float64